<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Film scelto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: headerSito"></div>
    
    <div th:if="${movie}">
        <p th:text="${movie.titolo} + ' Anno di pubblicazione: ' + ${movie.anno}"></p>
        <p th:text="${movie.descrizione}"></p>
    </div>
    
    <div th:unless="${movie}">
        <p>Film non trovato.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>